/* The Main Heading - Heavy and Bold */
h1 {
  font-family: "Cascadia Mono", monospace;
  font-weight: 700;    /* Extra Bold */
  font-size: 144;
}

/* The Paragraph - Light and Clean */
p {
  font-family: "Cascadia Mono", monospace;
  font-weight: 400;    /* Light / Thin */
  font-style: italic;
  font-size: 8px;
}